<div class="col-xs-6">
  I Owe {{user}}:
  <div ng-repeat="(key,item) in itemsUserIsOwed">
    <div ng-if="item.to == user">{{item.qty}}x {{item.name}}
      <span ng-click="updateQuantity(key, item.qty+1);" style="color:green">|+|</span><span> </span>
      <span ng-click="updateQuantity(key, item.qty-1);" style="color:dodgerblue">|-|</span><span> </span>
      <span ng-click="removeItem(key);" style="color:red; font-style:italic">|X|</span><span> </span>
    </div>
  </div>
  Quantity:<input ng-model="qty">Item:<input ng-model="item">
  <button ng-click="addItem(qty, item)">Add Items</button>
</div>

<div class="col-xs-6">
  {{user}} owes me:
  <div ng-repeat="(key,item) in itemsFriendOwes">
    <div ng-if="item.to == 'Jordan'">{{item.qty}}x {{item.name}}
      <span ng-click="updateQuantity(key, item.qty+1);" style="color:green">|+|</span><span> </span>
      <span ng-click="updateQuantity(key, item.qty-1);" style="color:dodgerblue">|-|</span><span> </span>
      <span ng-click="removeItem(key);" style="color:red; font-style:italic">|X|</span><span> </span>
    </div>
  </div>
  Quantity:<input ng-model="qty">Item:<input ng-model="item">
  <button ng-click="addItem(qty, item)">Add Items</button>
</div>
