<div>{{user}}</div>

<div class="col-xs-6">
  <div ng-repeat="IOU in itemsIOwe">
    <div>{{IOU}} <span ng-click="removeMyItem($index)" style="color:red; font-style:italic">X</span></div>
  </div>
  <input ng-model="myItems">
  <button ng-click="submitMyItems(myItems);">Submit</button>
</div>

<div class="col-xs-6">
  <div ng-repeat="(item,person) in itemsOwed">
    <div ng-if="person.Jordan">{{person.Jordan}}x {{item}}
      <span ng-click="increaseYourItem(item, person.Jordan)" style="color:green;">|+|</span><span> </span>
      <span ng-click="decreaseYourItem(item, person.Jordan)" style="color:dodgerblue;">|-|</span><span> </span>
      <span ng-click="removeYourItem(item)" style="color:red; font-style:italic">|X|</span><span> </span>
    </div>
  </div>
  Quantity:<input ng-model="yourQty">Item:<input ng-model="yourItems">
  <button ng-click="submitYourItems(yourQty, yourItems)">Submit</button>
</div>
